{% extends 'galery/base.html' %}
{% load static %}
{% block content %}
<div class="photos">
        <div class="container size contphotos">
         
            <div class="photositem photositemone ">
               <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
           
            
              <div class="photosmiddle">
             <div class="photositem photositemtwo">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
             <div class="photositem photositemtwo">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
       </div>
           
            <div class="photosbot">
            <div class="photositem">
               <div class="darkphotoitem"></div>
                <img src="img/lev.jpg" alt="">
            </div>
             <div class="photositem">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
             <div class="photositem">
                <div class="darkphotoitem"></div>
                <img src="img/lev.jpg" alt="">
            </div>
            </div>
            
             
              <div class="photosmiddle">
             <div class="photositem photositemtwo">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
             <div class="photosfour">
               <div class="photositem photostemwd">
               <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
                
             <div class="photositem photostemwd">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div> 
               </div>
                             <div class="photosfour">
               <div class="photositem photostemwd">
               <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
                
             <div class="photositem photostemwd">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div> 
               </div>
       </div>
            
            <div class="photosbot">
              <div class="photosfour">
               <div class="photositem photostemwd">
               <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
                
             <div class="photositem photostemwd">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div> 
               </div>
                             <div class="photosfour">
               <div class="photositem photostemwd">
               <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
                
             <div class="photositem photostemwd">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div> 
               </div>
                
                 <div class="photositem photositemtwo">
                <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
            </div>
              <div class="photositem photositemone ">
               <div class="darkphotoitem"></div>
                <img src="img/fsfsd.jpg" alt="">
            </div>
           
        </div>
    </div>
    
{% endblock %}