{% load static %}

<div class="prefooter prefooternews">
    <div class="container size">
        <div class="adres">
            <h3>Контактные данные</h3>
            <p>Адрес : 212030 г. Могилев, ул. Первомайская, 30.</p>
            <p>тел.: 74-00-32</p>
        </div>
        <div class="link">
            <div class="linkinfo">
                <h3>Социальные сети</h3>
                <a href="https://vk.com/public187729870"><i class="fab fa-vk"></i></a>
                <a href="https://www.facebook.com/confirmemail.php?next=https%3A%2F%2Fwww.facebook.com%2F%25D0%259A%25D0%25B0%25D1%2580%25D0%25BB-%25D0%259C%25D0%25B0%25D1%2580%25D0%25BA%25D1%2581-%25D1%2580%25D0%25B5%25D0%25BA%25D0%25BE%25D0%25BC%25D0%25B5%25D0%25BD%25D0%25B4%25D1%2583%25D0%25B5%25D1%2582-109567247313020&rd"><i class="fab fa-facebook-f"></i> </a>
                <a href="https://www.instagram.com/karl_marks_mogilev/"><i class="fab fa-instagram"></i></a>
                <a href="http://csgpblog.blogspot.com/"><i class="fas fa-pen"></i></a>
                <a href="https://www.youtube.com/channel/UCa5jbG2FcmbVqhcuVRLYlbw"><i class="fab fa-youtube"></i></a>
                <a href="https://ok.ru/group/56106330554582"><i class="fab fa-odnoklassniki-square"></i></a>
                <a href="https://twitter.com/csgpb_mogilev"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>

<footer class="footernews">
    <p class="mr-15">ООО «самая классная библиотека»</p>
    <p> <i class="fa fa-copyright"></i> Все права защищены, 2021 </p>
</footer>