{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/chief-slider.css' %}">
  <link rel="stylesheet" href="{% static 'css/Style.css' %}">
  <script defer src="{% static 'js/chief-slider.dev.js' %}"></script>

  <script src="https://kit.fontawesome.com/8210b99a89.js" crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new ChiefSlider('.slider2', {
        loop: true,
        autoplay: false,
        swape: true
      });
    });
  </script>
</head>

<body>

  {% include 'header.html' %}

  <div class="showplace ">
    <div class="container size">
      <div class="name">
        <h1>{{ place.name }}</h1>
      </div>
      <div class="imginfo">
        <div class="imgleft">
          <img class="imgl" src="{{place.image_1.url}}" alt="">
        </div>
        <div class="imgright">
          <img class="imgrf" src="{{place.image_2.url}}" alt="">
          <img class="imgrs" src="{{place.image_3.url}}" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="slider2">
    <div class="slider__wrapper">
      <div class="slider__items">

        <div class="slider__item slider__itemshow">
          <div class="container size pp-50">
            <i class="fas fa-history mb-15 bxbr"></i>
            <p>{{place.text_1}}
              <br>
            </p>
          </div>
        </div>

        <div class="slider__item slider__itemshow">
          <div class="container size pp-50">
            <i class="fas fa-book mb-15"></i>
            <p>{{place.text_2}}</p>
          </div>
        </div>
        <div class="slider__item slider__itemshow">
          <div class="container size pp-50">
            <i class="fas fa-file-alt mb-15"></i>
            <p>{{place.text_3}}</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="slider__control" data-slide="prev"></a>
    <a href="#" class="slider__control" data-slide="next"></a>
    <ol class="slider__indicators">
      <li data-slide-to="0"></li>
      <li data-slide-to="1"></li>
      <li data-slide-to="2"></li>
    </ol>
  </div>


  <div class="commentnews testimonial ">
    <div class="container size">
      <h2> {{ review_qt }} Отзывов</h2>
      {% for review in reviews %}
      <div class="commnewsitems">
        <img src="{{ review.user.avatar.url }}" alt="">
        <div class="commentnewstext">
          <h6>{{review.user.firstname}}</h6>
          <span>{{ review.date_created }}</span>
          <p>{{ review.text }}</p>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="reccal">
    <div class="container size">
      {% if request.user %}
      <div class="commentpost">
        <h3> Отправить ваш отзыв</h3>
        <form id="contactForm" method="post">
          {% csrf_token %}
          <div class="bot">
            <textarea placeholder="Отзыв" name="text" cols="40" rows="10" required="" id="id_text"></textarea>
          </div>
          <button class="btnb">Опубликовать ваш отзыв</button>
        </form>
      </div>
      {% else %}
      <h3>Оставлять отызы могут только авторизированные пользователи</h3>
      {% endif %}
    </div>
  </div>


  {% include 'footer.html' %}
</body>

</html>